<div class="container">
  <% if @family.photo.key == nil %>
    <div></div>
  <% else %>
    <div class="family-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @family.photo.key, height: 300, width: 300, crop: :fill %>')">
    </div>
  <% end %>
  <% if current_user != @family.user %>
    <h4 class="book-this-family"><%= link_to "Book this family", new_family_booking_path(@family), class:"btn btn-flat" %></h4>
  <% end %>
  <h1><%= @family.title %></h1>
  <h5><%= @family.ethnicity %> Family</h5>
  <h2><%= @family.price %></h2>
  <h3>Located at: <%= @family.location %></h3>
  <div class="display-members">
    <ul>
      <li>Adult Male: <%= @family.adult_male %></li>
      <li>Adult Female: <%= @family.adult_female %></li>
      <li>Child Male: <%= @family.child_male %></li>
      <li>Child Female: <%= @family.child_female %></li>
      <li>Senior Male: <%= @family.senior_male %></li>
      <li>Senior Female: <%= @family.senior_female %></li>
    </ul>
  </div>

  <div class="family-show-button">
    <%= link_to "See all families", families_path, class:"btn btn-flat" %>
    <% if current_user == @family.user %>
      <%= link_to "Edit this family", edit_family_path(@family), class:"btn btn-flat" %>
      <%= link_to "Delete this family", family_path(@family), method: :delete, class:"btn btn-flat" %>
    <% end %>
  </div>

  <div class="review-container">
    <h2>Reviews:</h2>
    <% @family.bookings.each do |booking| %>
      <% booking.reviews.each do |review| %>
        <div class="booking-card">
          <p><%= review.rating %> stars </p>
          <p><%= review.comment %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
