<div class="container">
  <h4><%= link_to "Book this family", new_family_booking_path(@family) %></h4>
  <h1><%= @family.title %></h1>
  <h5><%= @family.ethnicity %> Family</h5>
  <h2><%= @family.price %></h2>
  <h3>Located at: <%= @family.location %></h3>
  <div class="display-members">
    <ul>
      <li>Adult Male: <%= @family.adult_male %></li>
      <li>Adult Female: <%= @family.adult_female %></li>
      <li>Child Male: <%= @family.child_male %></li>
      <li>Child Female: <%= @family.child_female %></li>
      <li>Senior Male: <%= @family.senior_male %></li>
      <li>Senior Female: <%= @family.senior_female %></li>
    </ul>
      <% if @family.photo.key == nil %>
        <div></div>
      <% else %>
        <div class="family-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @family.photo.key, height: 300, width: 300, crop: :fill %>')">
        </div>
      <% end %>
  </div>

  <p><%= @family.description %></p>
  <%# <% if user_signed_in? %>
    <div class="family-show-button">
      <button><%= link_to "See all families", families_path %></button>
      <button><%= link_to "Edit this family", edit_family_path(@family) %></button>
      <button><%= link_to "Delete this family", family_path(@family), method: :delete %>
    </div>
  <%# <% end %>
</div>
