<%= link_to "Back to dashboard", dashboard_path %>
<h1>Booking History</h1>
<% @past_bookings.each do |booking| %>
  <div class="booking-card">
    <p> #<%= booking.id %> </p>
    <p class="booking-title"><%= link_to booking.family.title, booking_path(booking) %></p>
    <p class= "created"><%= booking.start_date %></p>
    <p class= "ended"><%= booking.end_date %></p>
  </div>
<% end %>
