<div class="container">
  <h1 class="welcome">Welcome, <%= @user.first_name %></h1>
    <%= link_to "Past Bookings", bookings_path %>
  <div class="dashboard-container">
    <div class="left-container">
      <% if current_user.seller %>
        <div class="booking-container">
          <h2 class="current-booking-title">Notifications</h2>
          <% @pending_seller_bookings.each do |booking| %>
            <div class="booking-card">
              <p> #<%= booking.id %> </p>
              <p class="booking-title"><%= link_to booking.family.title, booking_path(booking) %></p>
              <p class= "created"><%= booking.start_date %></p>
              <p class= "ended"><%= booking.end_date %></p>
              <%= link_to booking_path(booking, { booking: { status: "Accept" } }) do %>
                <i class="fas fa-check"></i>
              <% end %>
              <% link_to booking_path(booking, { booking: { status: "Reject" } }) do %>
                <i class="fas fa-times"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if current_user.seller %>
        <div class="booking-container">
          <h2 class="current-booking-title">Bookings made to you</h2>
          <% @current_seller_bookings.each do |booking| %>
            <div class="booking-card">
              <p class="<%= booking.status %> status"> <%= booking.status %></p>
              <p> #<%= booking.id %> </p>
              <p class="booking-title"><%= link_to booking.family.title, booking_path(booking) %></p>
              <p class= "created"><%= booking.start_date %></p>
              <p class= "ended"><%= booking.end_date %></p>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="booking-container">
        <h2 class="current-booking-title">Your current bookings</h2>
        <% @current_bookings.each do |booking| %>
          <div class="booking-card">
            <p class="<%= booking.status %> status"> <%= booking.status %></p>
            <p> #<%= booking.id %> </p>
            <p class="booking-title"><%= link_to booking.family.title, booking_path(booking) %></p>
            <p class= "created"><%= booking.start_date %></p>
            <p class= "ended"><%= booking.end_date %></p>
          </div>
        <% end %>
      </div>
    </div>
    <% if current_user.seller %>
      <div class="right-container">
        <h2>All your listings</h2>
        <div class="cards">
          <% @current_user_families.each do |family| %>
            <%= link_to family_path(family) do %>
              <div class="card">
                <h2><%= family.title %></h2>
                <div class="bottom-card">
                  <p><%= family.description %></p>
                  <p><%= family.price %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
