<!DOCTYPE html>
<html>
  <head>
    <title>HomeMaker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <% if current_page?('/') %>
      <%= yield %>
    <% else %>
      <div class="container padded">
        <%= yield %>
      </div>
    <% end %>
    <%= render 'shared/footer' %>

  </body>
</html>
